body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(87, 84, 84);
  color: rgb(253, 176, 44);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 500px;
}

input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(87, 84, 84);
  border-bottom: 1px solid lightgray;
  outline: none;
  cursor: pointer;
  color: white;
}

.inputDiv {
  margin: 20px 0;
}

.kaydet-button {
  width: 100%;
  padding: 7px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(252, 209, 67);
}

.kaydet-button:hover {
  background-color: rgb(251, 218, 27);
  color: white;
}

.checkboxDiv {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.input-error {
  font-size: 12px;
  color: red;
}
