.image{
    width: 180px;
    height: 240px;
}

.card{
    width: 200px;
    height: 420px;
    box-shadow: 1px 4px 3px lightgray;
    border-radius: 10px;
    margin: 15px;
}

.card:hover{
    box-shadow: 1px 4px 3px rgb(169, 169, 169);
    transition: all 0.6s;
    cursor: pointer;
}

.title-p{
    text-align: center;
    height: 50px;
}

.title-h3{
    text-align: center;
}

.detail-button{
    background-color: rgb(113, 113, 105);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.detail-button:hover{
    cursor: pointer;
    background-color: rgb(239, 192, 97);
    transition: all 0.4s;
}